body{
    background-color: #282828;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-size: 35px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-size: 30px;
}